<div class="box">
  <div class="box-header">
        <div class="width_chown">
        <ob_link><a href="{:url('goodsCategoryAdd')}" class="btn"><i class="fa fa-plus"></i> 新 增(一级或二级)</a></ob_link>
        </div>
        <div class="box-tools ">
        <div class="input-group input-group-sm search-form chown">
          
            <input name="search_data" class="pull-right search-input" value="{:input('search_data')}" placeholder="支持项目名称|商品分类名称" type="text">
            <select style="width: 150px;height: 30px" name="goods_category_default">
              <option value="">请选择</option>     
              <option value="1"  {notempty name="$where['g.goods_category_default']"}{if condition="$where['g.goods_category_default'] eq 1"} selected="selected" {/if}{/notempty} >登录后</option>
              <option value="2"  {notempty name="$where['g.goods_category_defaults']"}{if condition="$where['g.goods_category_defaults'] eq 2"} selected="selected" {/if}{/notempty}   >登录前</option>
                  
          </select> 
            <div class="input-group-btn">
              <button type="button" id="search" url="{:url('categoryList')}" class="btn btn-default"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>
  </div>
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th>名称</th>
          <th>分类图片</th>
          <th style="width: 200px">是否是登录后</th>
          <th style="width: 200px">归属项目</th>
          <th>是否上架</th>
          <th>是否推荐</th>
          <th>排序</th>
          <th>操作</th>
      </tr>
      </thead>

      {notempty name='list'}
        <tbody>
            {volist name='list' id='vo'}
                <tr>
                  <td>{$vo.cate_name}</td>
                  <td><img class="admin-list-img-size" src="{$vo.cate_thumb|get_picture_url}"/></td>
                  <td>{if condition="($vo['goods_category_default'] == 1)"}
                  <span style="">是</span>
                  {else /}
                   <span style="color: #f00">否</span>
                  {/if}</td>
                  <td>{$vo.cate_affiliation|cateaffiliation}</td>
                  <td><ob_link><a class="ajax-get" href="{:url('setStatus', array('ids' => $vo['id'], 'status' => (int)!$vo['status']))}">{$vo.status_text}</a></ob_link></td>
                  <td style="color:#f00">{if condition="$vo.is_recommend eq 1"}是 {else /} 否{/if}</td>
                   <td><input type="text" class="sort-th sort-text" href="{:url('setSort')}" id="{$vo.id}" value="{$vo.sort}" /></td>
                  <td class="col-md-2 text-center">
                      <ob_link><a href="{:url('goodsCategorySonList', array('tid' => $vo['id']))}" class="btn"><i class="fa fa-edit"></i> 子分类</a></ob_link>
                      <ob_link><a href="{:url('goodsCategoryEdit', array('id' => $vo['id'],'urlarr' => $url_arr))}" class="btn"><i class="fa fa-edit"></i> 编辑</a></ob_link>
                      <ob_link><a class="btn confirm ajax-get"  href="{:url('goodsCategoryDel', array('id' => $vo['id']))}"><i class="fa fa-trash-o"></i> 删除</a></ob_link>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
  </div>
  <div class="box-footer clearfix text-center">
      {$list->render()}
  </div>
</div>
